Library/
Logs/
*.vsconfig
*.sln
*.csproj
.vs/
obj/
Temp/
*.suo
ExportBundles/
Assets/testklong.txt.meta
Assets/Unity.VisualScripting.Generated/VisualScripting.Flow.meta
Assets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
Assets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
ProjectSettings/VisualScriptingSettings.asset
